<!-- card container -->
<div class="employee-card">

    <!-- columns -->
    <div class="flex-col">
        <p class="name">{{ name }}</p>
    </div>

    <div class="flex-col">
        <p class="text reg"><a href="mailto:{{ email }}">{{ email }}</a></p>
        <p class="text grey">ID: {{ id }}</p>
    </div>

    <div class="flex-col">
        <p class="text reg"><a href="https://github.com/{{ github }}" target="_blank" rel="noopener noreferrer">{{ github }}</a></p>
        <p class="text grey">GitHub</p>
    </div>        
            
    
</div>

    
